#main-article{
    grid-area: main-article;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px,1fr));
    grid-auto-rows: minmax(300px,auto);
    gap:20px;
    padding: 8px;
    margin-top: 15px;
}
#main-article>div{
   background-color: green;
   padding-bottom: 8px;
}
#main-article img{
    width: 100%;
    height: 90%;
}
#main-article span{
    margin-left: 8px;
}